@media (max-width:1900px){
    body{
        background-size: 880px;
    }
}
@media (max-width:1700px){
    body{
        background-size: 800px;
    }
}
@media (max-width:1550px){
    body{
        background-size: 750px;
    }
}
@media (max-width:1440px){
    body{
        background-size: 700px;
    }
}
@media (max-width:1330px){
    body{
        background-size: 650px;
    }
}
@media (max-width:1220px){
    body{
        background-size: 600px;
    }
}
@media (max-width:1100px){
    body{
        /* back ground positio x em forma negativa manda o background para trás*/
        background-position-x: -100px /*!important*/; /*esse comando important informa que essa configuração
        é mais importante que a que está sendo herdada do style.css*/
    }
}
