/*PARA IMPORTAR ULTILIZE @IMPORT*/
@import url(./header.css);


/*CÓDIGO PARA RESETAR O CSS*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}